// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer{
    background-color: blue;
    &__list-item {
        color: white;
    }
    &__img{
        width: 20ox;
        height: 20px;
    }
}


