// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";

.footer {
  background-color: colors.$black;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  &__list {
    padding-left: 10px;
    margin: 0px;
  }
  &__item {
    list-style: none;
    @include mixins.font-design(list-item);
    padding: 0.3rem;
  }
  .email__link {
    text-decoration: none;
    @include mixins.font-design(list-item);
  }
}
