// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";

.logo {
  @include mixins.flex;
  @include mixins.flex-center;
  // border: 1px solid;
  position: static;
  &__link {
    cursor: pointer;
    text-decoration: none;
    // border: 1px solid blue;
    position: relative;
    display: flex;
    align-items: center;
  }
  &__text {
    @include mixins.font-design(logo);
    margin: 0px 0px;
    // border: 1px solid;
  }
  &__back-button {
    // border: 1px solid;
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    font-size: 1.5rem;
  }
}

.location {
  @include mixins.flex;
  @include mixins.flex-center;
  background-color: darken(colors.$lightgray, 5%);
  &__icon {
    color: colors.$black;
    margin: 10px 0px;
    position: relative;
    left: 2rem;
    height: 1rem;
  }
  &__address-input {
    @include mixins.border;
    background-color: darken(colors.$lightgray, 5%);
    border: none;
    @include mixins.font-design(sub);
    text-align: center;
  }
}

.intrudction {
  background-color: colors.$lightgray;
  @include mixins.flex(column);
  text-align: center;
  padding: 20px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &__main-text {
    @include mixins.font-design(title);
    margin: Opx;
  }
  &__sub-text {
    @include mixins.font-design(sub);
  }
  &__explore-link {
    background: linear-gradient(to bottom, colors.$secondary, colors.$primary);
    @include mixins.font-design(button);
    padding: 15px 30px;
    border-radius: 35px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
