// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.logo {
    @include border;
    &__img {
        width: 50%;
        display:block;
        margin: auto;
    }
}


.location {
    @include border;
    @include flex;
    @include flex-center;
    background-color:darken($lightgray,10%);
    &__icon{
        color:$black;
        margin: 10px 5px;

    }
    &__address{
        border: none;
        color:$black;
        background-color:darken($lightgray,10%);
        font-size: 5vw;
    }
}

  .intrudction {
    background-color: $lightgray;
    @include flex(column);
    // @include flex-center;
    justify-content: baseline;
    &__main-text{
        @include font-design(title);
    }
    &__sub-text{
        @include font-design(sub);
    }
    &__explore-link{
        background-color: $primary;        
        @include font-design(button);
        padding: 10px;
        border-radius: 20px;
        @include border;
        margin-bottom: 10px;
        text-decoration: none;
    }
}