@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";
@use "../Utils/variables";

.button {
  display: block;
  text-align: center;
  width: 15rem;
  margin: auto;
  margin-top: 25px;
  background: colors.$button-color;
  @include mixins.font-design(button);
  padding: 15px 30px;
  border-radius: 35px;
  text-decoration: none;
  box-shadow: variables.$shadow;
  transition: all 400ms;
  &:hover {
    transform: scale(1.05);
    box-shadow: variables.$shadow--dark;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: colors.$button-light;
  }
}
