@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";

.cards-container {
  background-color: colors.$lightgray;
  margin-top: 30px;
}

.card {
  @include mixins.flex(column);
  height: 250px;
  width: 95%;
  margin: Auto;
  margin-bottom: 10px;
  border-radius: 5px;
  @include mixins.shadow;
  position: relative;
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &__footer {
    // background-color: red;
  }
  &__new-box {
    background-color: colors.$Tetiary;
    position: absolute;
    left: 85%;
    top: 5%;
    max-width: 70px;
    padding: 3px 15px 3px 15px;
    @include mixins.font-design(new-box);
    @include mixins.flex;
    @include mixins.flex-center;
  }
  &__icon {
    position: absolute;
    left: 90%;
    bottom: 15px;
    font-size: 1.5rem;
  }
  &__main-text {
    @include mixins.font-design(card-main-text);
    background-color: red;
    margin: 5px 5px;
  }
  &__sub-text {
    @include mixins.font-design(card-sub-text);
    background-color: red;
    margin: 5px 5px;


  }
}
