@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";

.restaurants-container {
  background-color: colors.$lightgray;
  padding: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  // border: 1px solid;
}

.card {
  @include mixins.flex(column);
  height: 14rem;
  width: 22rem;
  border-radius: 5px;
  @include mixins.shadow;
  position: relative;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &__new-box {
    background-color: colors.$Tetiary;
    position: absolute;
    left: 15rem;
    top: 1rem;
    max-width: 70rem;
    padding: 3px 15px 3px 15px;
    @include mixins.font-design(new-box);
  }
  &__icon {
    position: absolute;
    left: 90%;
    bottom: 15px;
    font-size: 1.5rem;
  }
  &__footer{
    padding: 5px;
    // border: 1px solid;
  
  }
  &__main-text {
    @include mixins.font-design(card-main-text);
    // border: 1px solid;
    padding-left: 5px;
    margin: 0;

  }
  &__sub-text {
    @include mixins.font-design(card-sub-text);
    // border: 1px solid;
    padding-left: 5px;
    margin: 0;
    margin-top: 2px;


  }
}

.title{
  // margin-top: 2rem;
  // margin-bottom: 2rem;
  // margin-left: .5rem;
  // border: 1px solid;
}
