// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";


.how-it-works-container{
  padding: 10px;
}
.steps-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:1rem;
  padding: 1rem;
  // border: 1px solid;
}

.step {
  background-color: colors.$lightgray;
  padding: 10px;
  border-radius: 20px;
  @include mixins.shadow;
  position: relative;
  width: 20rem;
  &__icon {
    color: darken(colors.$lightgray, 60%);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &--purple {
    background-color: lighten(colors.$primary, 35%);
  }
  &__text {
    @include mixins.font-design(step);
  }
  &:before {
    counter-increment: step;
    content: counter(step) " ";
    position: absolute;
    border-radius: 100px;
    background-color: colors.$primary;
    @include mixins.font-design(step-number);
    padding: 5px;
    height: 1.5rem;
    width: 1.5rem;
    left: -0.75rem;
    bottom:1rem;
    text-align: center;
  }
}

.title {
  @include mixins.font-design(title);
}

body {
  counter-reset: step;
  width: 100%;
  margin: 0px;
}
