// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";

.step {
  background-color: colors.$lightgray;
  padding: 10px;
  margin: 20px 5px;
  border-radius: 5px;
  @include mixins.shadow;
  position: relative;
  &__icon {
    color: darken(colors.$lightgray, 60%);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &--purple {
    background-color: lighten(colors.$primary, 35%);
  }
  &__text {
    @include mixins.font-design(step);
  }
  &:before{
    counter-increment: step;
    content: counter(step) " ";
    position: absolute;
    right: 96%;
    bottom: 30%;
    border-radius: 100px;
    background-color: colors.$primary;
    @include mixins.font-design(step-number);
    padding: 5px;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
  }
}

.title {
  @include mixins.font-design(title);
}

body{
  counter-reset: step;
}

