@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";
@use "../Utils/variables";

.restaurants-container {
  background-color: colors.$lightgray;
  padding: 1rem 1rem 4rem 1rem;
  min-width: 100%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background-size: cover;
  padding: 10rem 0 0;
  border-radius: 10px;
  box-shadow: variables.$shadow;
  position: relative;
  overflow: hidden;
  &::after {
    content: "New";
    background-color: colors.$Tetiary;
    position: absolute;
    text-align: center;
    padding: 3px 15px 3px 15px;
    @include mixins.font-design(new-box);
    top: 1rem;
    right: 1rem;
    border-radius: 2px;
  }
  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  &--thefullplate {
    background-image: url(../images/restaurants/thefullpalette.jpg);
  }
  &--theenchantedplate {
    background-image: url(../images/restaurants/theenchantedplate.jpg);
  }
  &--bastille {
    background-image: url(../images/restaurants/bastille.jpg);
  }
  &--legourmand {
    background-image: url(../images/restaurants/legourmand.jpg);
  }
  &__footer {
    background-color: colors.$white;
    padding: 10px;
    height: 70px;
    @include mixins.font-design(card-main-text);
    &__main {
      line-height: 1.5rem;
      margin: 0;
    }
    &__sub {
      margin: 0;
      line-height: 1.5rem;
      position: relative;
      font-weight: 300;
    }
  }
}

.heart {
  font-weight: 300;
  position: absolute;
  right: 1rem;
  font-size: 24px;
  bottom: 1.8rem;
  z-index: 1000;
  opacity: 100%;
  &:hover {
    opacity: 0%;
  }
}

.heart--full {
  font-weight: 300;
  position: absolute;
  right: 1rem;
  font-size: 24px;
  bottom: 1.8rem;
  z-index: 1000;
  opacity: 0%;

  &:hover {
    // opacity: 100%;
    // background: linear-gradient(0deg, colors.$primary, colors.$secondary);
    // background-clip: text;
    // color: transparent;
  }
}
