@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";

.logo {
  display: block;
  text-align: center;
  @include mixins.font-design(logo);
  text-decoration: none;
  padding: 1rem;
  &__back-button {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    font-size: 1.5rem;
  }
  &--footer {
    @include mixins.font-design(logo-footer);
    text-decoration: none;
    height: 50px;
    padding: 20px 0px 20px 10px;
    display: inline-block;
  }
}
.back__button {
  text-decoration: none;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  font-size: 2rem;
  color: colors.$black;
}
