@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";
@use "../Utils/variables";

.steps-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 60px;
}
.step {
  background-color: colors.$lightgray;
  padding: 1.2rem;
  border-radius: 20px;
  box-shadow: variables.$shadow;
  position: relative;
  width: 21rem;
  height: 4.375rem;
  @include mixins.flex();
  align-items: center;
  // @include mixins.flex-center();
  @include mixins.font-design(step);
  &--purple {
    background-color: lighten(colors.$primary, 35%);
  }
  &:before {
    counter-increment: step;
    content: counter(step) " ";
    position: absolute;
    border-radius: 100px;
    background-color: colors.$primary;
    @include mixins.font-design(step-number);
    padding: 5px;
    height: 1.5rem;
    width: 1.5rem;
    left: -0.75rem;
    bottom: 1.4rem;
    text-align: center;
  }
  i {
    margin-right: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: lighten(colors.$black,40%);
    font-size: 1.25rem;
  }
}

.step--purple i {
  color: colors.$primary;
}

.intruduction {
  padding: 1rem;
}
