// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../Utils/fonts";
@use "../Utils/colors";
@use "../Utils/mixins";
@use "../Utils/variables";

.location {
  @include mixins.flex;
  @include mixins.flex-center;
  background-color: darken(colors.$lightgray, 5%);
  height: 50px;
  box-shadow: variables.$shadow--inner;
  &__icon {
    color: lighten(colors.$black, 10%);
    margin: 10px 0px;
    position: relative;
    left: 1rem;
    height: 1rem;
  }
  &__address-input {
    background: transparent;
    border: none;
    @include mixins.font-design(sub);
    text-align: center;
  }
  ::placeholder {
    color: #6d6d6d;
  }
}
.intrudction {
  background-color: colors.$lightgray;
  @include mixins.flex(column);
  text-align: center;
  padding: 2rem;
  &__main-text {
    @include mixins.font-design(title);
    margin: Opx;
  }
  &__sub-text {
    @include mixins.font-design(discover);
  }
}
.title {
  @include mixins.font-design(title);
  margin: 0;
  padding: 2rem 0rem 1rem 0rem;
}
