//main
$primary: #9356dc;
$secondary: #ff79da;
$Tetiary: #99e2d0;

$lightgray: #f6f6f6;
$black: #101010;
$white: #ffffff;

//button
$button-color: linear-gradient(to bottom, $secondary, $primary);
$button-light: linear-gradient(
  to bottom,
  lighten($secondary, 5%),
  lighten($primary, 5%)
);
