// -----------------------------------------------------------------------------
// Graphic identity - Fonts
// -----------------------------------------------------------------------------

$primary:#9356DC;
$secondary:#FF79DA;
$Tetiary:#99E2D0;

$lightgray:#f6f6f6;
$black:#101010;