// -----------------------------------------------------------------------------
// Graphic identity - Fonts
// -----------------------------------------------------------------------------

$primary:#9356DC;
$secondary:#FF79DA;
$Tetiary:#99E2D0;

$lightgray:#d3d3d3;
$black:black;