// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

// -----------------------------------------------------------------------------
// Graphic identity - Fonts
// -----------------------------------------------------------------------------

$font-palette: (
  logo: (
      fs: 1rem,
      fw: 600,
      cl:colors.$black,
      ff:'Shrikhand',
  ),
  title: (
      fs: 1rem,
      fw: 600,
      cl:colors.$black,
      ff:'roboto',
  ),
  sub: (
    fs: 1rem,
    fw: 300,
    cl:colors.$black,
    ff:'roboto',
  ),
  card: (
    fs: 1rem,
    fw: 600,
    cl:colors.$black,
    ff:'roboto',
  ),
  button: (
    fs: 0.8rem,
    fw: 300,
    cl:white,
    ff:'roboto',
),
  text: (
  fs: 1rem,
  fw: 400,
  cl:white,
  ff:'Shrikhand',
)
);