// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Graphic identity - Fonts
// -----------------------------------------------------------------------------

$font-palette: (
  title: (
      fs: 16px,
      fw: 600,
      cl:black,
  ),
  sub: (
    fs: 16px,
    fw: 300,
    cl:lightblack,
  ),
  card: (
    fs: 16px,
    fw: 600,
    cl:blue,
  ),
  button: (
    fs: 16px,
    fw: 400,
    cl:white,
)
);