// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use '../Utils/fonts';

@mixin font-design ($type) {
  $palette: map-get(fonts.$font-palette, $type);
  font-size: map-get($palette, fs);
  font-weight: map-get($palette, fw);
  color: map-get($palette, cl);
}

@mixin flex ($direction:row) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-center {
  justify-content:center;
}

@mixin border {
  border: 1px solid yellow;
}

@mixin font-title {
  font-size: 15px;
  font-weight: 600;
  color: beige;
}

