// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Graphic identity - Colors
// -----------------------------------------------------------------------------

$primary:#9356DC;
$secondary:#FF79DA;
$Tetiary:#99E2D0;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
